<?xml version="1.0"?>
<robot name="2x1" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- 2x1 new model -->
  <xacro:arg name="base_prefix" default="base_" />

  <xacro:macro name="sensor2x1n" params="sequence parent x:=0.0 y:=0.0 z:=0.0 rx:=0.0 ry:=0.0 rz:=0.0 col:='blue' body:=1 taxels:=1 skipinertia:=0 xoff=-0.0009 yoff=0.0011 zoff=0.003 txstep=0.0046666 tystep=0.00466666 standalone:=0 sensor_collision:=0">

    <xacro:if value="${standalone == 1}">
      <xacro:include filename="$(find xela_models)/urdf/materials.xacro" />
      <xacro:include filename="$(find xela_models)/urdf/taxel_n.xacro" />
    </xacro:if>

    <joint name="${sequence}_2x1_fixed" type="fixed">
      <origin xyz="${x} ${y} ${z}" rpy="${radians(rx)} ${radians(ry)} ${radians(rz)}"/>
      <parent link="${parent}" />
      <child link="${sequence}_2x1_link" />
    </joint>
    <link name="${sequence}_2x1_link">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://xela_models/mesh/uSPa21.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <xacro:if value="${body == 1}">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://xela_models/mesh/uSPa21.stl" scale="0.001 0.001 0.001"/>
          </geometry>
          <material name="${col}"/>
        </visual>
        <xacro:unless value="${skipinertia == 1}">
          <inertial>
            <mass value="0.0036" />
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="5.76e-09" ixy="0.0" ixz="0.0" iyy="6.55e-09" iyz="1.44e-10" izz="1.20e-08" />
          </inertial>
        </xacro:unless>
      </xacro:if>
    </link>

    <gazebo reference="${sequence}_2x1_link">
      <material>Gazebo/Green</material>
    </gazebo>

    <xacro:if value="${taxels == 1}">
      <xacro:taxel_n sequence="${sequence}_2x1_01"  x="${1*txstep+xoff}" y="${2*tystep+yoff}" z="${zoff}" parent="${sequence}_2x1_link" sensor_collision="${sensor_collision}" />
      <xacro:taxel_n sequence="${sequence}_2x1_02"  x="${1*txstep+xoff}" y="${1*tystep+yoff}" z="${zoff}" parent="${sequence}_2x1_link" sensor_collision="${sensor_collision}" />
    </xacro:if>
  </xacro:macro>

</robot>
