<?xml version="1.0"?>
<robot name="allegro_fingertip_flat" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="base_prefix" default="base_" />
   <xacro:macro name="aftdn" params="sequence parent x:=0.0 y:=0.0 z:=0.0 rx:=0.0 ry:=0.0 rz:=0.0 col:='blue' skipinertia:=0 standalone:=0 sensor_collision:=1">

    <xacro:if value="${standalone == 1}">
      <xacro:include filename="$(find xela_models)/urdf/materials.xacro" />
    </xacro:if>
    <!-- <xacro:property name="sequence" value="$(arg base_prefix)${x_seq}"/> -->
    <joint name="${sequence}_aftd_fixed" type="fixed">
      <origin xyz="${x-0.013} ${y} ${z}" rpy="${radians(rx)} ${radians(ry)} ${radians(rz)}"/>
      <parent link="${parent}" />
      <child link="${sequence}_aftd_link" />
    </joint>
    <link name="${sequence}_aftd_link">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://xela_models/mesh/allegro/ahft_default.STL"/>
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://xela_models/mesh/allegro/ahft_default.STL"/>
        </geometry>
        <material name="${col}"/>
      </visual>
      <xacro:if value="${skipinertia == 0}">
        <inertial>
          <mass value="0.0168" />
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <inertia ixx="1.63e-07" ixy="0.0" ixz="0.0" iyy="1.63e-07" iyz="0.0" izz="1.60e-07" />
        </inertial>
      </xacro:if>
    </link>
  </xacro:macro>

</robot>
