<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="allegro_hand_right">

<!-- Import XELA Data -->
<xacro:include filename="$(find xela_models)/urdf/xela.xacro" />

<link name="world" />
  
<!-- Notes
Back controller covers can be disabled by setting covers to 0
tips can be either "flat" or "curved", default is original tip
Palm sensors can be disabled by setting palm to 0
-->
	<xacro:allegro_hand_right sequence="" tips="curved" parent="world" defaultnames="1" baseispalm="1" />
  <!-- Enable the following 2 if you would like to see different options the same time -->
	<!-- <xacro:allegro_hand_right sequence="2" parent="world" x="0.2" tips="curved" /> -->
	<!-- <xacro:allegro_hand_right sequence="3" parent="world" x="-0.2" covers="0" palm="0" phalanges="0" tips="default"/> -->
    
</robot>

