<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="allegro_hand_right">

<!-- Import XELA Data -->
<xacro:include filename="$(find xela_models)/urdf/xela.xacro" />

<link name="world" />
<!-- 
<joint name="fixed" type="fixed">
    <parent link="world" />
    <child link="base_link" />
  </joint>

  <link name="base_link">
    <visual>
      <geometry>
        <sphere radius="0.001"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.001"/>
      </geometry>
    </collision>
  </link> -->
  
<!-- Notes
Back controller covers can be disabled by setting covers to 0
tips can be either "flat" or "curved", default is original tip
Palm sensors can be disabled by setting palm to 0
-->
	<xacro:allegro_hand_right sequence="1" tips="curved" parent="world" />
  <!-- Enable the following 2 if you would like to see different options the same time -->
	<!-- <xacro:allegro_hand_right sequence="2" parent="base_link" x="0.2" tips="curved" /> -->
	<!-- <xacro:allegro_hand_right sequence="3" parent="base_link" x="-0.2" covers="0" palm="0" phalanges="0" tips="default"/> -->
    
</robot>

