<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="allegro_hand_right">


  <xacro:include filename="$(find xela_models)/urdf/materials.xacro" />
  <xacro:include filename="$(find xela_models)/urdf/taxel_n.xacro" />

  <xacro:include filename="$(find xela_models)/urdf/4x4n.xacro" />
  <xacro:include filename="$(find xela_models)/urdf/4x6base.xacro" />
  <xacro:include filename="$(find xela_models)/urdf/uspa46_2409.xacro" />
  <xacro:include filename="$(find xela_models)/urdf/aftcn.xacro" />
  <xacro:include filename="$(find xela_models)/urdf/aftfn.xacro" />
  <xacro:include filename="$(find xela_models)/urdf/aftdn.xacro" />


  <xacro:arg name="sensor_prefix" default="x_taxel_" />
  <xacro:arg name="base_prefix" default="base_" />

  <!-- Allegro Hands -->
  <xacro:macro name="allegro_hand_right_new" params="sequence parent x:=0.0 y:=0.0 z:=0.0 rx:=0.0 ry:=0.0 rz:=0.0 covers:=1 phalanges:=1 tips:='flat' palm:=1 taxels:=0 defaultnames:=0">
    <xacro:if value="${sequence == ''}">
      <xacro:property name="seq" value=""/>
      <xacro:property name="bseq" value=""/>
    </xacro:if>
    <xacro:unless value="${sequence == ''}">
      <xacro:property name="seq" value="$(arg sensor_prefix)${sequence}_"/>
      <xacro:property name="bseq" value="$(arg base_prefix)${sequence}_"/>
    </xacro:unless>

    <link name="hand_root">
      <origin xyz="0 0 0"/>
    </link>

    <joint name="root_to_base" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="${parent}"/>
        <child link="hand_root"/>
    </joint>

    <link name="${bseq}palm_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 ${radians(90)}" />
        <geometry>
          <xacro:if value="${palm == 1}">
            <!-- <mesh filename="package://xela_models/mesh/allegro/base_right.stl" /> -->
            <mesh filename="package://xela_models/mesh/allegro/base_new_right.stl" scale="0.001 0.001 0.001" />
          </xacro:if>
          <xacro:if value="${palm != 1}">
            <mesh filename="package://xela_models/mesh/allegro/base_right_ns.stl"/>   
          </xacro:if>
        </geometry>
        <material name="cyan">
          <color rgba="0.0 1.0 1.0 1"/>
        </material>
      </visual>
      <collision>
        <!-- <origin xyz="0 0 0" rpy="0 0 ${radians(90)}" /> -->
        <origin rpy="0 0 0" xyz="-0.009300 0 -${0.095/2}"/>
        <geometry>
          <box size="0.0408 0.1130 ${0.095}"/>
        </geometry>
      </collision>
      <xacro:if value="${palm == 1}">
        <inertial>
          <mass value="0.4288" />
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <inertia ixx="2.04e-03" ixy="8.58e-06" ixz="8.58e-06" iyy="1.23e-03" iyz="0.0" izz="1.25e-03" />
        </inertial>
      </xacro:if>
      <xacro:if value="${palm != 1}">
        <inertial>
          <mass value="0.4154" />
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <inertia ixx="1.87e-03" ixy="0.0" ixz="8.31e-06" iyy="1.13e-03" iyz="0.0" izz="1.11e-03" />
        </inertial>
      </xacro:if>
    </link>
    <joint name="${bseq}ahr_fixed" type="fixed">
        <origin xyz="${x} ${y} ${z}" rpy="${radians(rx)} ${radians(ry)} ${radians(rz)}"/>
        <!-- <parent link="${parent}" /> -->
        <parent link="hand_root" />
        <child link="${bseq}palm_link" />
      </joint>

    <xacro:if value="${palm == 1}">
      <!-- <xacro:sensor4x6b sequence="${seq}16" col="red" parent="${bseq}palm_link" x="0.013" y="-0.051" z="-0.0365"  rz="90" rx="90" ry="0.0" taxels="${taxels}" skipinertia="1" /> -->
      <xacro:uspa46_2409 sequence="${seq}16" col="red" parent="${bseq}palm_link" x="0.014" y="-0.021" z="-0.0204"  rz="90" rx="90" ry="180" taxels="${taxels}" skipinertia="1" />
      <!-- <xacro:sensor4x6b sequence="${seq}17" col="green" parent="${bseq}palm_link" x="0.013" y="0.0523" z="-0.005"  rz="90" rx="90" ry="180.0" taxels="${taxels}" skipinertia="1" /> -->
      <xacro:uspa46_2409 sequence="${seq}17" col="green" parent="${bseq}palm_link" x="0.014" y="0.021" z="-0.0204"  rz="90" rx="90" ry="0" taxels="${taxels}" skipinertia="1" />
      <!-- <xacro:sensor4x6b sequence="${seq}18" col="blue" parent="${bseq}palm_link" x="0.013" y="-0.051" z="-0.068" rz="90" rx="90" ry="0.0" taxels="${taxels}" skipinertia="1" /> -->
      <xacro:uspa46_2409 sequence="${seq}18" col="blue" parent="${bseq}palm_link" x="0.014" y="-0.021" z="-0.0515" rz="90" rx="90" ry="180" taxels="${taxels}" skipinertia="1" />
    </xacro:if>
    <xacro:if value="${defaultnames == 1}">
		<!-- Index Finger -->
	  <xacro:finger 
		x_seq=			"${seq}"
    b_seq=      "${bseq}"
		parent=				"${bseq}palm_link"
		finger_num=			"0"
		offset_origin_x=	"${0}"	
		offset_origin_y=	"${0.0435}"
		offset_origin_z=	"${-0.001542}"
		finger_angle_r=		"-${radians(5.0)}"
		covers=				"${covers}"
		phalanges=			"${phalanges}"
		tip=				"${tips}"
		taxels=				"${taxels}"
	  />
		<!-- Middle Finger -->
	  <xacro:finger
		x_seq=			"${seq}"
    b_seq=      "${bseq}"
		parent=				"${bseq}palm_link"
		finger_num=			"1" 
		offset_origin_x=	"${0}"	
		offset_origin_y=	"0" 
		offset_origin_z=	"${0.0007}" 
		finger_angle_r=		"0.0"
		covers=				"${covers}"
		phalanges=			"${phalanges}"
		tip=				"${tips}"
		taxels=				"${taxels}"
	  />
		<!-- Ring Finger -->
	  <xacro:finger 
		x_seq=			"${seq}"
    b_seq=      "${bseq}"
		parent=				"${bseq}palm_link"
		finger_num=			"2" 
		offset_origin_x=	"${0}"	
		offset_origin_y=	"-${0.0435}" 
		offset_origin_z=	"${-0.001542}" 
		finger_angle_r=		"${radians(5.0)}"
		covers=				"${covers}"
		phalanges=			"${phalanges}"
		tip=				"${tips}"
		taxels=				"${taxels}"
	  />
		<!-- Thumb -->
	  <xacro:thumb_right
		x_seq=			"${seq}"
    b_seq=      "${bseq}"
		parent=				"${bseq}palm_link"
		finger_num=			"3" 
		offset_origin_x=	"-0.0182"	
		offset_origin_y=	"0.019333" 
		offset_origin_z=	"-0.045987"
		covers=				"${covers}"
		finger_angle_r=		"0"
		finger_angle_p=		"-${radians(95)}"	
		finger_angle_y=		"-${radians(90)}"
		phalanges=			"${phalanges}"
		tip=				"${tips}"
		taxels=				"${taxels}"
	  />
    </xacro:if>

    <xacro:unless value="${defaultnames == 1}">
      <xacro:finger 
        x_seq=			"${seq}hitosashi_finger_"
        b_seq=      "${bseq}"
        parent=				"${bseq}palm_link"
        finger_num=			"0"
        offset_origin_x=	"${0}"	
        offset_origin_y=	"${0.0435}"
        offset_origin_z=	"${-0.001542}"
        finger_angle_r=		"-${radians(5.0)}"
        covers=				"${covers}"
        phalanges=			"${phalanges}"
        tip=				"${tips}"
        taxels=				"${taxels}"
      />
      <xacro:finger
        x_seq=			"${seq}naka_finger_"
        b_seq=      "${bseq}"
        parent=				"${bseq}palm_link"
        finger_num=			"1" 
        offset_origin_x=	"${0}"	
        offset_origin_y=	"0" 
        offset_origin_z=	"${0.0007}" 
        finger_angle_r=		"0.0"
        covers=				"${covers}"
        phalanges=			"${phalanges}"
        tip=				"${tips}"
        taxels=				"${taxels}"
      />
      <xacro:finger 
        x_seq=			"${seq}kusuri_finger_"
        b_seq=      "${bseq}"
        parent=				"${bseq}palm_link"
        finger_num=			"2" 
        offset_origin_x=	"${0}"	
        offset_origin_y=	"-${0.0435}" 
        offset_origin_z=	"${-0.001542}" 
        finger_angle_r=		"${radians(5.0)}"
        covers=				"${covers}"
        phalanges=			"${phalanges}"
        tip=				"${tips}"
        taxels=				"${taxels}"
      />
      <xacro:thumb_right
        x_seq=			"${seq}oya_finger_"
        b_seq=      "${bseq}"
        parent=				"${bseq}palm_link"
        finger_num=			"3" 
        offset_origin_x=	"-0.0182"	
        offset_origin_y=	"0.019333" 
        offset_origin_z=	"-0.045987"
        covers=				"${covers}"
        finger_angle_r=		"0"
        finger_angle_p=		"-${radians(95)}"	
        finger_angle_y=		"-${radians(90)}"
        phalanges=			"${phalanges}"
        tip=				"${tips}"
        taxels=				"${taxels}"
      />
    </xacro:unless>
  </xacro:macro>

   <!--FINGER MACRO-->
  <xacro:macro name="finger" params="x_seq b_seq parent finger_num offset_origin_x offset_origin_y offset_origin_z finger_angle_r covers:=1 tip:='flat' phalanges:=1 taxels:=0">
  
    <!-- <xacro:property name="sequence" value="$(arg base_prefix)"/> -->
    <xacro:property name="sequence" value="${b_seq}"/>

      <link name="${sequence}link_${finger_num*4+0}">	
        <visual>
          <geometry>
            <mesh filename="package://xela_models/mesh/allegro/link_0.0_ext.STL" />
          </geometry>
          <material name="grey"/>
        </visual>
        <collision>
          <geometry>
            <box size="${0.0196} ${0.0275} ${0.0164}"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 ${0.0164/2+0.003}"/>
        </collision>
        <inertial>
          <mass value="0.0127" />
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <inertia ixx="1.38e-07" ixy="1.27e-10" ixz="4.83e-09" iyy="6.83e-08" iyz="0.0" izz="1.16e-07" />
        </inertial>
      </link>
      <joint name="joint_${finger_num*4+0}.0" type="revolute">
        <axis xyz="0 0 1"/>
        <limit effort="15" velocity="7" lower="${-0.57+0.1}" upper="${0.57-0.1}" />
        <parent link="${parent}"/>
        <child link="${sequence}link_${finger_num*4+0}"/>
        <origin rpy="${finger_angle_r} 0 0" xyz="${offset_origin_x} ${offset_origin_y} ${offset_origin_z}"/>
      </joint>
      <link name="${sequence}link_${finger_num*4+1}">	
        <visual>
          <geometry>
            <xacro:if value="${phalanges == 1}">
              <mesh filename="package://xela_models/mesh/allegro/link_1.0.stl" />
            </xacro:if>
            <xacro:if value="${phalanges != 1}">
              <mesh filename="package://xela_models/mesh/allegro/link_1_ns.stl"/>   
            </xacro:if>
          </geometry>
          <material name="black" />
        </visual>
        <collision>
          <geometry>
            <!-- <box size="${0.0196} ${0.0275} ${0.0164}"/> -->
            <box size="${0.0196} ${0.0275} ${0.0540}"/>
          </geometry>
          <!-- <origin rpy="0 0 0" xyz="0 0 ${0.0164/2}"/> -->
          <origin rpy="0 0 0" xyz="0 0 ${0.0540/2}"/>     
        </collision>
        <xacro:if value="${covers == 1}">
          <inertial>
            <mass value="0.0809" />
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="1.75e-05" ixy="0.0" ixz="5.66e-08" iyy="1.80e-05" iyz="0.0" izz="4.60e-06" />
          </inertial>
        </xacro:if>
        <xacro:unless value="${covers == 1}">
          <xacro:if value="${phalanges == 1}">
            <inertial>
              <mass value="0.0719" />
              <origin xyz="0 0 0" rpy="0 0 0"/>
              <inertia ixx="1.56e-05" ixy="0.0" ixz="5.03e-08" iyy="1.60e-05" iyz="0.0" izz="4.09e-06" />
            </inertial>
          </xacro:if>
          <xacro:unless value="${phalanges == 1}">
            <inertial>
              <mass value="0.0650" />
              <origin xyz="0 0 0" rpy="0 0 0"/>
              <inertia ixx="1.14e-05" ixy="0.0" ixz="0.0" iyy="1.12e-05" iyz="0.0" izz="2.56e-06" />
            </inertial>
          </xacro:unless>
        </xacro:unless>
      </link>
      <xacro:if value="${covers == 1}"><!--covers are always with sensors-->
        <link name="${sequence}link_${finger_num*4+1}_cover">	
          <visual>
            <geometry>
              <mesh filename="package://xela_models/mesh/allegro/link_1_cover.stl" />
            </geometry>
            <material name="red"/>
          </visual>
          <collision>
            <geometry>
              <mesh filename="package://xela_models/mesh/allegro/link_1_cover.stl" />
            </geometry>
            <!-- <origin rpy="0 0 0" xyz="0 0 ${0.0177/2}"/> -->
            <origin rpy="0 0 0" xyz="0 0 0"/>
          </collision>
          <!--As link is fixed, inertias will be inside the main link-->
        </link>
        <joint name="${sequence}link_${finger_num*4+1}_cover_joint" type="fixed">
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
          <parent link="${sequence}link_${finger_num*4+1}" />
          <child link="${sequence}link_${finger_num*4+1}_cover" />
        </joint>
      </xacro:if>

      <xacro:if value="${phalanges == 1}">
        <xacro:sensor4x4n x_seq="${x_seq}${finger_num*4+1}" col="red" parent="${sequence}link_${finger_num*4+1}" ry="-90" rz="180" z="0.033" y="0.012" x="0.0108" body="1" taxels="${taxels}" skipinertia="1" />
        <xacro:sensor4x4n x_seq="${x_seq}${finger_num*4+0}" col="red" parent="${sequence}link_${finger_num*4+1}" ry="90" z="0.021" y="-0.012" x="0.0108" body="1" taxels="${taxels}" skipinertia="1" />
      </xacro:if>

      <joint name="joint_${finger_num*4+1}.0" type="revolute">
        <limit effort="15" velocity="7" lower="${-0.296+0.1}" upper="${1.71-0.1}" />
        <axis xyz="0 1 0"/>
        <parent link="${sequence}link_${finger_num*4+0}"/>
        <child link="${sequence}link_${finger_num*4+1}"/>
        <origin xyz="0 0 ${0.0164+0.004}"/><!-- New height on fingers -->
      </joint>
      <link name="${sequence}link_${finger_num*4+2}">	
        <visual>
          <geometry>
            <xacro:if value="${phalanges == 1}">
              <mesh filename="package://xela_models/mesh/allegro/link_2.0.stl" />
            </xacro:if>
            <xacro:if value="${phalanges != 1}">
              <mesh filename="package://xela_models/mesh/allegro/link_2_ns.stl"/>   
            </xacro:if>
          </geometry>
          <material name="black" />
        </visual>
        <collision>
          <geometry>
            <box size="${0.0196} ${0.0275} ${0.0540}"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 ${0.0540/2}"/>     
        </collision>
        <xacro:if value="${covers == 1}"><!--covers are always with sensors-->
          <inertial>
            <mass value="0.0447" />
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="3.80e-07" ixy="0.0" ixz="7.15e-09" iyy="2.26e-07" iyz="1.34e-09" izz="1.86e-07" />
          </inertial>
        </xacro:if>
        <xacro:unless value="${covers == 1}">
          <xacro:if value="${phalanges == 1}">
            <inertial>
              <mass value="0.0422" />
              <origin xyz="0 0 0" rpy="0 0 0"/>
              <inertia ixx="3.15e-06" ixy="0.0" ixz="0.0" iyy="3.05e-06" iyz="0.0" izz="1.33e-06" />
            </inertial>
          </xacro:if>
          <xacro:unless value="${phalanges == 1}">
            <inertial>
              <mass value="0.0355" />
              <origin xyz="0 0 0" rpy="0 0 0"/>
              <inertia ixx="2.46e-06" ixy="0.0" ixz="0.0" iyy="2.26e-06" iyz="0.0" izz="8.95e-07" />
            </inertial>
          </xacro:unless>
        </xacro:unless>
      </link>
      <xacro:if value="${covers == 1}">
        <link name="${sequence}link_${finger_num*4+2}_cover">	
          <visual>
            <geometry>
              <mesh filename="package://xela_models/mesh/allegro/link_2_cover.stl" />
            </geometry>
            <material name="red"/>
          </visual>
          <collision>
            <geometry>
              <mesh filename="package://xela_models/mesh/allegro/link_2_cover.stl" />
            </geometry>
            <!-- <origin rpy="0 0 0" xyz="0 0 ${0.0514/2}"/> -->
            <origin rpy="0 0 0" xyz="0 0 0"/>
          </collision>
        </link>
        <joint name="${sequence}link_${finger_num*4+2}_cover_joint" type="fixed">
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
          <parent link="${sequence}link_${finger_num*4+2}" />
          <child link="${sequence}link_${finger_num*4+2}_cover" />
        </joint>
      </xacro:if>

      <xacro:if value="${phalanges == 1}">
        <xacro:sensor4x4n x_seq="${x_seq}${finger_num*4+2}" col="red" parent="${sequence}link_${finger_num*4+2}" ry="90" z="0.0445" y="-0.012" x="0.01" body="1" taxels="${taxels}" skipinertia="1" />
      </xacro:if>

      <joint name="joint_${finger_num*4+2}.0" type="revolute">
        <axis xyz="0 1 0"/>
        <limit effort="15" velocity="7" lower="${-0.274+0.1}" upper="${1.809-0.1}" />
        <parent link="${sequence}link_${finger_num*4+1}"/>
        <child link="${sequence}link_${finger_num*4+2}"/>
        <origin xyz="0 0 ${0.0540}"/>
      </joint>
      <link name="${sequence}link_${finger_num*4+3}">	
        <visual>
          <geometry>
            <mesh filename="package://xela_models/mesh/allegro/link_3.0.STL" />
          </geometry>
          <material name="black" />
        </visual>
        <collision>
          <geometry>
            <box size="${0.0196} ${0.0275} ${0.0384-0.0120}"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 ${(0.0384-0.0120)/2}"/>
        </collision>
        <xacro:if value="${tip == 'flat'}">
          <inertial>
            <mass value="0.0281" />
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="1.59e-06" ixy="0.0" ixz="0.0" iyy="1.49e-06" iyz="0.0" izz="1.10e-06" />
          </inertial>
        </xacro:if>
        <xacro:if value="${tip == 'curved'}">
          <inertial>
            <mass value="0.0404" />
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="3.64e-06" ixy="0.0" ixz="0.0" iyy="3.33e-06" iyz="0.0" izz="1.92e-06" />
          </inertial>
        </xacro:if>
        <xacro:unless value="${tip == 'flat' or tip == 'curved'}">
          <inertial>
            <mass value="0.0280" />
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="3.05e-07" ixy="0.0" ixz="0.0" iyy="1.51e-07" iyz="0.0" izz="2.56e-07" />
          </inertial>
        </xacro:unless>
      </link>
      <joint name="joint_${finger_num*4+3}.0" type="revolute">
        <axis xyz="0 1 0"/>
        <limit effort="15" velocity="7" lower="${-0.327+0.1}" upper="${1.718-0.1}" />
        <parent link="${sequence}link_${finger_num*4+2}"/>
        <child link="${sequence}link_${finger_num*4+3}"/>
        <origin xyz="0 0.0 0.0384"/>
      </joint>

    <xacro:if value="${tip == 'flat'}">
      <xacro:sensoraftfn x_seq="${x_seq}${finger_num*4+3}" col="red" parent="${sequence}link_${finger_num*4+3}" rx="90" rz="90" z="0.016" taxels="${taxels}" skipinertia="1"/>
    </xacro:if>
    <xacro:if value="${tip == 'curved'}">
      <xacro:sensoraftcn x_seq="${x_seq}${finger_num*4+3}" col="red" parent="${sequence}link_${finger_num*4+3}" rx="90" rz="90" z="0.016" taxels="${taxels}" skipinertia="1"/>
    </xacro:if>
    <xacro:if value="${tip == 'default'}">
      <xacro:aftdn x_seq="${x_seq}${finger_num*4+3}" col="white" parent="${sequence}link_${finger_num*4+3}" rx="0" rz="0" z="0.027" x="0.013" skipinertia="1"/>
    </xacro:if>
    </xacro:macro>

    <!--THUMB MACRO-->
    <xacro:macro name="thumb_right" params="x_seq b_seq parent finger_num offset_origin_x offset_origin_y offset_origin_z finger_angle_r finger_angle_p finger_angle_y covers:=1 phalanges:=1 tip:='flat' taxels:=0">

      <!-- <xacro:property name="sequence" value="$(arg base_prefix)"/> -->
      <xacro:property name="sequence" value="${b_seq}"/>

      <link name="${sequence}link_${finger_num*4+0}">
        <visual>
          <geometry>
            <mesh filename="package://xela_models/mesh/allegro/link_12.0_right.STL" />
          </geometry>
          <material name="grey" />
        </visual>
        <collision>
          <geometry>
            <box size="${0.0358} ${0.0340} ${0.0455}"/>
          </geometry>
          <origin rpy="0 0 0" xyz="${-0.0358/2+0.0} ${.018/2} ${.029/2}"/>
        </collision>
        <inertial>
          <mass value="0.0176" />
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <inertia ixx="3.36e-06" ixy="0.0" ixz="1.76e-08" iyy="3.84e-06" iyz="2.46e-07" izz="2.59e-06" />
        </inertial>
      </link>
      <joint name="joint_${finger_num*4+0}.0" type="revolute">
        <axis xyz="-1 0 0"/>
        <limit effort="15" velocity="7" lower="${0.363-0.1}" upper="${1.496-0.1}" />
        <parent link="${parent}"/>
        <child link="${sequence}link_${finger_num*4+0}"/>
        <origin rpy="${finger_angle_r} ${finger_angle_p} ${finger_angle_y}" xyz="${offset_origin_x} ${offset_origin_y} ${offset_origin_z}"/>
      </joint>
      <link name="${sequence}link_${finger_num*4+1}">	
        <visual>
          <geometry>
            <mesh filename="package://xela_models/mesh/allegro/link_13.0.STL" />
          </geometry>
          <material name="grey" />
        </visual>
        <collision>
          <geometry>
            <box size="${0.0196} ${0.0275} ${0.0177}"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 ${0.0177/2}"/>
        </collision>
        <inertial>
          <mass value="0.0127" />
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <inertia ixx="1.38e-07" ixy="1.27e-10" ixz="4.83e-09" iyy="6.83e-08" iyz="0.0" izz="1.16e-07" />
        </inertial>
      </link>
      <xacro:if value="${covers == 1}">
        <link name="${sequence}link_${finger_num*4+2}_cover">	
          <visual>
            <geometry>
              <mesh filename="package://xela_models/mesh/allegro/thumb_1_cover.stl" />
            </geometry>
            <material name="red"/>
          </visual>
          <collision>
            <geometry>
              <mesh filename="package://xela_models/mesh/allegro/thumb_1_cover.stl" />
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
          </collision>
        </link>
        <joint name="${sequence}link_${finger_num*4+2}_cover_joint" type="fixed">
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
          <parent link="${sequence}link_${finger_num*4+2}" />
          <child link="${sequence}link_${finger_num*4+2}_cover" />
        </joint>
      </xacro:if>
      <joint name="joint_${finger_num*4+1}.0" type="revolute">
        <axis xyz="0 0 1"/>
        <limit effort="15" velocity="7" lower="${-0.205+0.1}" upper="${1.263-0.1}" />
        <parent link="${sequence}link_${finger_num*4+0}"/>
        <child link="${sequence}link_${finger_num*4+1}"/>   
        <origin xyz="-0.027 0.005 0.0399"/>
      </joint>
      <link name="${sequence}link_${finger_num*4+2}">	
        <visual>
          <geometry>
            <xacro:if value="${phalanges == 1}">
              <mesh filename="package://xela_models/mesh/allegro/thumb_1.0.stl"/>   
            </xacro:if>
            <xacro:if value="${phalanges != 1}">
              <mesh filename="package://xela_models/mesh/allegro/thumb_1.1_ns.stl"/>   
            </xacro:if>
          </geometry>
          <material name="black" />
        </visual>
        <collision>
          <geometry>
            <box size="${0.0196} ${0.0275} ${0.0514}"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 ${0.0514/2}"/>
        </collision>
        <xacro:if value="${covers == 1}"><!--covers are always with sensors-->
          <inertial>
            <mass value="0.0457" />
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="3.20e-06" ixy="9.14e-09" ixz="1.46e-07" iyy="3.03e-06" iyz="0.0" izz="1.47e-06" />
          </inertial>
        </xacro:if>
        <xacro:unless value="${covers == 1}">
          <xacro:if value="${phalanges == 1}">
            <inertial>
              <mass value="0.0435" />
              <origin xyz="0 0 0" rpy="0 0 0"/>
              <inertia ixx="3.05e-06" ixy="8.70e-09" ixz="1.39e-07" iyy="2.88e-06" iyz="0.0" izz="1.40e-06" />
            </inertial>
          </xacro:if>
          <xacro:unless value="${phalanges == 1}">
            <inertial>
              <mass value="0.0380" />
              <origin xyz="0 0 0" rpy="0 0 0"/>
              <inertia ixx="2.47e-06" ixy="0.0" ixz="2.66e-08" iyy="2.17e-06" iyz="3.80e-09" izz="9.20e-07" />
            </inertial>
          </xacro:unless>
        </xacro:unless>
      </link>
      <xacro:if value="${covers == 1}">
        <link name="${sequence}link_${finger_num*4+3}_cover">	
          <visual>
            <geometry>
              <mesh filename="package://xela_models/mesh/allegro/thumb_2_cover.stl" />
            </geometry>
            <material name="red"/>
          </visual>
          <collision>
            <geometry>
              <mesh filename="package://xela_models/mesh/allegro/thumb_2_cover.stl" />
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
          </collision>
        </link>
        <joint name="${sequence}link_${finger_num*4+3}_cover_joint" type="fixed">
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
          <parent link="${sequence}link_${finger_num*4+3}" />
          <child link="${sequence}link_${finger_num*4+3}_cover" />
        </joint>
      </xacro:if>

      <xacro:if value="${phalanges == 1}">
        <xacro:sensor4x4n x_seq="${x_seq}${finger_num*4+1}" parent="${sequence}link_${finger_num*4+2}" ry="90" z="0.023" y="-0.012" x="0.011" body="1" taxels="${taxels}" skipinertia="1" />
      </xacro:if>

      <joint name="joint_${finger_num*4+2}.0" type="revolute">
        <axis xyz="0 1 0"/>
        <limit effort="15" velocity="7" lower="${-0.289+0.1}" upper="${1.744-0.1}" />
        <parent link="${sequence}link_${finger_num*4+1}"/>
        <child link="${sequence}link_${finger_num*4+2}"/>
        <origin xyz="0 0 ${0.0177}"/>
      </joint> 
      <link name="${sequence}link_${finger_num*4+3}">
        <visual>
          <geometry>
            <xacro:if value="${phalanges == 1}">
              <mesh filename="package://xela_models/mesh/allegro/thumb_2.0.stl"/>  
            </xacro:if>
            <xacro:if value="${phalanges != 1}">
              <mesh filename="package://xela_models/mesh/allegro/thumb_1.2_ns.stl"/>   
            </xacro:if> 
          </geometry>
        <material name="black" />
        </visual>
        <collision>
          <geometry>
            <box size="${0.0196} ${0.0275} ${0.0543-0.0120}"/>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 ${(0.0543-0.0120)/2}"/>
        </collision><!--6 options-->
        <xacro:if value="${covers == 1}"><!--covers are always with phalange sensors-->
          <xacro:if value="${tips == 'curved'}">
            <inertial>
              <mass value="0.0753" />
              <origin xyz="0 0 0" rpy="0 0 0"/>
              <inertia ixx="2.90e-05" ixy="0.0" ixz="0.0" iyy="2.90e-05" iyz="0.0" izz="6.88e-06" />
            </inertial>
          </xacro:if>
          <xacro:if value="${tips == 'flat'}">
            <inertial>
              <mass value="0.0629" />
              <origin xyz="0 0 0" rpy="0 0 0"/>
              <inertia ixx="1.73e-05" ixy="0.0" ixz="0.0" iyy="1.77e-05" iyz="0.0" izz="5.47e-06" />
            </inertial>
          </xacro:if>
          <xacro:unless value="${tips == 'flat' or tips == 'curved'}">
            <inertial>
              <mass value="0.0645" />
              <origin xyz="0 0 0" rpy="0 0 0"/>
              <inertia ixx="1.20e-05" ixy="0.0" ixz="0.0" iyy="1.22e-05" iyz="0.0" izz="4.03e-06" />
            </inertial>
          </xacro:unless>
        </xacro:if>
        <xacro:unless value="${covers == 1}">
          <xacro:if value="${phalanges == 1}">
            <xacro:if value="${tips == 'curved'}">
              <inertial>
                <mass value="0.0731" />
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="2.82e-05" ixy="0.0" ixz="0.0" iyy="2.82e-05" iyz="0.0" izz="6.68e-06" />
              </inertial>
            </xacro:if>
            <xacro:if value="${tips == 'flat'}">
              <inertial>
                <mass value="0.0607" />
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="1.67e-05" ixy="0.0" ixz="0.0" iyy="1.71e-05" iyz="0.0" izz="5.27e-06" />
              </inertial>
            </xacro:if>
            <xacro:unless value="${tips == 'flat' or tips == 'curved'}">
              <inertial>
                <mass value="0.0623" />
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="1.16e-05" ixy="0.0" ixz="0.0" iyy="1.17e-05" iyz="0.0" izz="3.89e-06" />
              </inertial>
            </xacro:unless>
          </xacro:if>
          <xacro:unless value="${phalanges == 1}">
            <xacro:if value="${tips == 'curved'}">
              <inertial>
                <mass value="0.0674" />
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="2.43e-05" ixy="0.0" ixz="0.0" iyy="2.39e-05" iyz="0.0" izz="5.37e-06" />
              </inertial>
            </xacro:if>
            <xacro:if value="${tips == 'flat'}">
              <inertial>
                <mass value="0.0550" />
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="1.42e-05" ixy="0.0" ixz="0.0" iyy="1.44e-05" iyz="0.0" izz="4.30e-06" />
              </inertial>
            </xacro:if>
            <xacro:unless value="${tips == 'flat' or tips == 'curved'}">
              <inertial>
                <mass value="0.0576" />
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="1.01e-05" ixy="0.0" ixz="0.0" iyy="9.84e-06" iyz="0.0" izz="2.91e-06" />
              </inertial>
            </xacro:unless>
          </xacro:unless>
        </xacro:unless>
      </link>

      <xacro:if value="${phalanges == 1}">
        <xacro:sensor4x4n x_seq="${x_seq}${finger_num*4+2}" parent="${sequence}link_${finger_num*4+3}" ry="90" z="0.021" y="-0.012" x="0.011" body="1" taxels="${taxels}" skipinertia="1" />
      </xacro:if>

    <joint name="joint_${finger_num*4+3}.0" type="revolute">
      <axis xyz="0 1 0"/>
      <limit effort="15" velocity="7" lower="${-0.262+0.1}" upper="${1.819-0.1}" />
      <parent link="${sequence}link_${finger_num*4+2}"/>
      <child link="${sequence}link_${finger_num*4+3}"/>
      <origin xyz="0 0 ${0.0514}"/>
    </joint>
    <xacro:if value="${tip == 'flat'}">
      <xacro:sensoraftfn x_seq="${x_seq}${finger_num*4+3}" col="green" parent="${sequence}link_${finger_num*4+3}" rx="90" rz="90" z="0.0315" taxels="${taxels}" skipinertia="1" />
    </xacro:if>
    <xacro:if value="${tip == 'curved'}">
      <xacro:sensoraftcn x_seq="${x_seq}${finger_num*4+3}" col="green" parent="${sequence}link_${finger_num*4+3}" rx="90" rz="90" z="0.0315" taxels="${taxels}" skipinertia="1" />
    </xacro:if>
    <xacro:if value="${tip == 'default'}">
      <xacro:aftdn x_seq="${x_seq}${finger_num*4+3}" col="white" parent="${sequence}link_${finger_num*4+3}" rx="0" rz="0" z="0.042" x="0.013" skipinertia="1" />
    </xacro:if>
  </xacro:macro>
    
</robot>

